<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收银台</title>
    <script src="src/js/pacypay.js"></script>
</head>
<body>
<div>
    <div id='pacypay_checkout' style="height: 100%">111</div>
</div>
</body>
<script>
    function handleCheckOut() {
        const orderInfo = {
            "merchantNo": "800209",
            "merchantTxnId": "1654675447666",
            "merchantTxnTime": null,
            "merchantTxnTimeZone": null,
            "productType": "CARD",
            "subProductType": "DIRECT",
            "txnType": "SALE",
            "orderAmount": "22.1",
            "orderCurrency": "USD",
            "originTransactionId": null,
            "risk3dsStrategy": null,
            "txnOrderMsg": "{\"returnUrl\":\"https://www.ronhan.com/\",\"products\":\"[{\\\"name\\\":\\\"iphone 11\\\",\\\"price\\\":\\\"5300.00\\\",\\\"num\\\":\\\"2\\\",\\\"currency\\\":\\\"CNY\\\"},{\\\"name\\\":\\\"macBook\\\",\\\"price\\\":\\\"1234.00\\\",\\\"num\\\":\\\"1\\\",\\\"currency\\\":\\\"USD\\\"}]\",\"transactionIp\":\"127.0.0.1\",\"appId\":1700077023031386112,\"javaEnabled\":false,\"colorDepth\":\"24\",\"screenHeight\":\"1080\",\"screenWidth\":\"1920\",\"timeZoneOffset\":\"-480\",\"accept\":\"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9\",\"userAgent\":\"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36\",\"contentLength\":\"340\",\"language\":null}",
            "shippingInformation": "{\"firstName\":\"Shipping\",\"lastName\":\"Name\",\"phone\":\"188888888888\",\"email\":\"taoyun15@gmail.com\",\"postalCode\":\"888888\",\"address\":\"Shipping Address Test\",\"country\":\"CN\",\"province\":\"HB\",\"city\":\"WH\",\"street\":\"833 Cheung Sha Wan Road\",\"number\":\"1\",\"identityNumber\":\"82962612865\"}",
            "billingInformation": "{\"firstName\":\"test\",\"lastName\":\"test\",\"phone\":\"18600000000\",\"email\":\"taoyun15@gmail.com\",\"postalCode\":\"430000\",\"address\":\"Unit 1113, 11/F, Tower 2, Cheung Sha Wan Plaza, 833 Cheung Sha Wan Road, Lai Chi Kok\",\"country\":\"CN\",\"province\":\"HB\",\"city\":\"HK\"}",
            "sign": "56c366036987f717c90fad2dc41cebea1c9872dc86d86ea919afb6e765f76d6c"
        }

        fetch('https://sandbox-v3-acquiring.pacypay.com/v1/sdkTxn/doTransaction', {
            method: 'POST'
        })
            .then(res => {
                console.log(res);
                return res.json();
            }).catch(err => {
            console.log("发生错误", err);
        })
    }

    const transactionId = '1701511690996621312'; //当前交易ID
    const pacypay = new Pacypay(transactionId, {
        locale: 'zh-cn', // en zh-cn ar de es fi fr it ja ko nl no pl pt ru sv th zh-tw
        environment: 'sandbox', // sandbox、production
        config: {
            subProductType: 'DIRECT', // DIRECT-直接支付，TOKEN-token绑卡并支付（必须和下单接口中subProductType值保持一致）
            checkoutTheme: 'light', // light、dark
            customCssURL: '', // 自定义样式链接地址，配置该值后，checkoutTheme 则无效
            variables: {
                "colorBackground": "black", // 主题背景色
                "colorPrimary": "red", // 主题色，如输入框高亮、光标颜色
                "colorText": "white", // 字体颜色
                "colorDanger": "#FF1493", // 错误提示颜色
                "borderRadius": "2px", // 输入框角度
                "fontSizeBase": "16px", // 基础字体大小，会按照该基准进行缩放
                "fontFamily": "Arial, sans-serif", // 字体样式
            },
            // 如果想自定义所有样式则只用配置styles. checkoutTheme,customCssURL,variables都可以不传
            // 详情请看styles属性说明
            styles: {
                ".pacypay-checkout__button--pay": { // 支付按钮样式
                    "background-color": "red",
                },
            }
        },
        onPaymentCompleted: function (res) {
            //成功支付后回调方法
            const txtInfo = res.data; // 返回交易结果详情
            const respCode = res.respCode; // 响应码
            const respMsg = res.respMsg; // 响应信息
            if (respCode === '20000') { // respCode 为 20000 表示交易正常
                switch (txtInfo.status) { // 交易状态判断
                    case 'S': // status 为 'S' 表示成功
                        // 支付最终状态以异步通知结果为准
                        break;
                    case 'R': // status 为 'R' 表示需要3ds验证
                        // 当交易状态为 R 时，商户需要重定向到该URL完成部分交易，包括3ds验证
                        window.location.href = txtInfo.redirectUrl;
                        break;
                }
            } else {
                // 交易失败
            }
        },
        onError: function (err) {
            //支付异常回调方法
            console.log(err);
        }
    });
</script>
</html>